@import "../../assets/styles/variables.scss";

.reset-password {
  margin: 5rem auto;
  padding: 2rem;
  max-width: 70%;
}

.reset-password-header {
  margin: 4rem 0;
}

.reset-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-interactive {
  right: 2rem;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .form .label {
    font-size: $font-size-mini !important;
  }

  .form {
    margin: 3rem 2rem;
  }
  .icon-interactive {
    right: 0.2rem;
  }
}
