@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 2rem;

  // Pour les écrans de taille moyenne y compris en paysage
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  --background: linear-gradient(to left, #7614af 0%, #40c9ff 100%);
  width: 18rem;
  height: 14rem;
  padding: 0.1rem;
  border-radius: 0.7rem;
  overflow: visible;
  background: #7614af;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card::after {
  position: absolute;
  top: 2rem;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.76);
  filter: blur(34.5px);
  background: #7614af;
  background: var(--background);
  transition: opacity 0.5s;
}

.card-info {
  --color: #212121;
  background: var(--color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.card .title {
  color: #fff;
  text-align: center;
  position: inherit;
  top: -12rem;
}

.card:hover::after {
  opacity: 0.6;
  padding: 0.7rem 0;
  top: 18px;
  transition: 0.6s;
}

.card:hover .card-info {
  color: #fff9f9;
  transition: color 1s;
}

.card-icon {
  font-size: 3rem;
  position: absolute;
  top: 7rem;
}

@media only screen and (max-width: 720px) {
  .card-icon {
    top: 5.5rem;
  }
}
