@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.action-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  button {
    background-color: $primary-color;
    color: $text-color;
    border: none;
    padding: 0.5em 1rem;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-speed;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.warning {
  color: #000;
}

th,
td,
.modal-text {
  font-family: $secondary-font;
}
