@import "../../assets/styles/variables.scss";

h3 {
  text-align: center;
  font-family: $title-font;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.general-group,
.notes-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input,
  .text-zone {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid $input-border-color;
    background-color: transparent;
    color: white;
    font-family: $secondary-font;
  }

  .text-zone:focus {
    border: 1px solid $primary-color;
    outline: none;
  }

  .actions {
    margin: 2rem;
  }
}

.statistics-form {
  text-align: center;
  margin-bottom: 2rem;

  .stat-group {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 85%;

    input {
      display: flex;
      justify-content: space-between;
      width: 40%;
      width: 5rem;
      padding: 0.5rem;
      background-color: $background;
      color: $text-color;
      border: 1px solid #414141;
      border-radius: 0.3rem;
      font-family: $primary-font;

      &:focus {
        outline: none;
        border-color: $secondary-color;
      }
    }

    .p {
      text-align: left;
    }
  }
}

.toggle-form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.origin-actions,
.restrictions-section,
.abilities-section {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
