@import "../../assets/styles/variables.scss";

.profile-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

// Petits écrans (mobiles)
@media only screen and (max-width: 767px) {
  //style du formaulaire d'édition
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: $background;
    width: 100%;
  }

  .label {
    font-size: 1rem;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
  }

  .profile-actions {
    display: flex;
    flex-direction: column;
  }
}

// Écrans moyens et plus grands (tablettes)
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }

  .icon-interactive {
    right: 0.2rem;
  }
}
